# Configuration file

####################
# general
####################

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=10c32b64-3d26-4b32-a0ac-e025d6db7c33

    # Set to true to disable all reporting
    B:opt-out=false
}


